{#{% extends 'base.html.twig' %}#}

{% block body %}
    <a href="{{ path('commande_index') }}">< Back to the list</a>
    <h1>Commande</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if commande.date %}{{ commande.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{% if commande.etat %}Validee{% else %}pending{% endif %}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
{#{% extends 'index.html.twig' %}#}
