{% extends 'base.html.twig' %}

{% block body %}
<link href="{{ asset ('form.css') }}" rel='stylesheet' type='text/css' media="all" />
    <h1 style="margin: 80px 0 0 600px; "> Envoyer un avis : </h1>
    <h5 style="margin: 10px 0 0 400px; ">
        Vous pouvez nous écrire un avis ou une suggestion sur notre site Web et nous vous contacterons bientôt :) </h5>
<div style="margin: 50px 0 0 500px;">


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input style="margin-left: 185px; " type="submit" value="Envoyer" />
    {{ form_end(form) }}

    <ul>

    </ul> </div>
{% endblock %}
