
.user{
    color: greenyellow;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    background-color: red;
    text-align: center;
    width: 15%;

}
.titre{
    color: dodgerblue;
    font-size: 15px;
    text-align: left;
    background-color: yellow;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    width: 20%;
}
.contenu{

}
.post{
    height: 350px;
    width: 50%;
    background-color: powderblue;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    border: dashed red;

}
.img{
    max-width: 100%;
    text-align: center;
}